*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#05051a;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

.logo{
    color:#e6c36a;
    font-size:24px;
    font-weight:bold;
    letter-spacing:2px;
}

.container{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
    padding:60px;
}

.left h3{
    color:#e6c36a;
    letter-spacing:3px;
    margin-bottom:10px;
}

.left h1{
    margin-bottom:30px;
}

.input-box{
    margin-bottom:20px;
}

.input-box label{
    display:block;
    margin-bottom:10px;
    color:#cfcfcf;
}

.input-box input,
.input-box select,
.input-box textarea{
    width:100%;
    padding:18px;
    background:#1a1a1a;
    border:1px solid rgba(255,255,255,0.1);
    border-radius:10px;
    color:white;
    font-size:16px;
}

textarea{
    height:140px;
    resize:none;
}

button{
    width:100%;
    padding:18px;
    border:none;
    background:#11113b;
    color:white;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#e6c36a;
    color:black;
}

.right{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.info-box{
    background:#0d0d2d;
    border:1px solid rgba(255,255,255,0.1);
    padding:25px;
    border-radius:12px;
}

.info-box h3{
    color:#e6c36a;
    margin-bottom:10px;
}

.info-box p{
    color:#d0d0d0;
    line-height:1.7;
}

@media(max-width:768px){

.container{
    grid-template-columns:1fr;
    padding:30px;
}

}
.line{
            width: 100%;
            height: 1px;
            background: linear-gradient(to right,transparent,#334155,transparent);
            margin-top: 18px;
        }
        .navbar{
            background-color: rgba(5, 10, 25, 0.95);
            padding: 20px 7%;
            position: sticky;
            top: 0;
            z-index: 100;
            backdrop-filter: blur(10px);
        }
       

        .nav-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        ul{
            display: flex;
            gap: 30px;
            padding-left: 120px;
        }

        li{
            list-style: none;
        }

        li a{
            text-decoration: none;
            color: #d1d5db;
            transition: 0.3s;
            font-size: 15px;
        }

        li a:hover{
            color: #f5b041;
        }

        .contact{
            color: #f5b041;
        }
