*{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:'Poppins',sans-serif;
        }

        body{
            min-height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;

            background: linear-gradient(
                135deg,
                #071120,
                #0F1B3D,
                #16213E
            );

            color:white;
        }

        h2{
            margin-bottom:25px;
            font-size:34px;
            color:#E2E8F0;
            letter-spacing:1px;
        }

        .container{
            width:420px;
            padding:35px;

            background: rgba(15,27,61,0.88);

            border-radius:22px;

            box-shadow:
                0 0 25px rgba(37,99,235,0.35),
                0 0 50px rgba(6,182,212,0.15);

            backdrop-filter: blur(12px);

            border:1px solid rgba(96,165,250,0.2);
        }

        .input-box{
            margin-bottom:18px;
        }

        label{
            display:block;
            margin-bottom:8px;
            color:#CBD5E1;
            font-size:14px;
        }

        input{
            width:100%;
            padding:14px;

            background:#16213E;

            border:1px solid #2563EB;

            border-radius:12px;

            color:white;

            font-size:15px;

            outline:none;

            transition:0.3s;
        }

        input:focus{
            border-color:#38BDF8;

            box-shadow:
                0 0 12px rgba(56,189,248,0.45);
        }

        button{
            width:100%;

            padding:14px;

            border:none;

            border-radius:12px;

            background:linear-gradient(
                to right,
                #2563EB,
                #0EA5E9
            );

            color:white;

            font-size:15px;

            font-weight:bold;

            cursor:pointer;

            transition:0.3s;
        }

        button:hover{
            transform:translateY(-2px);

            box-shadow:
                0 0 15px rgba(14,165,233,0.45);
        }

        .space{
            margin-top:10px;
        }
